@import '../../styles/variables.scss';

.visa {
  background: $backgroud-color;

  overflow-x: hidden;
  margin: 0;

  min-height: 78vh;

  &__landing {
    position: relative;
    z-index: 5;
    margin: 14rem 10rem;
    width: 45rem;

    @media only screen and (max-width: 1300px) {
      margin: 12rem 5rem;
      width: 35rem;
    }
    @media only screen and (max-width: 768px) {
      margin: 8rem 2rem;
      width: 25rem;
    }
    @media only screen and (max-width: 540px) {
      margin: 5rem 1rem;
      width: 20rem;
    }
  }

  &__title {
    color: $secondary-text-color;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-shadow: 2px 2px 5px #000000;

    @media only screen and (max-width: 1300px) {
      font-size: 3rem;
    }
    @media only screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }

  .backgroundImg {
    position: absolute;
    left: 0;
    top: -10rem;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 1;
    object-fit: cover;

    @media only screen and (max-width: 1300px) {
      top: -5rem;
    }
    @media only screen and (max-width: 768px) {
      top: 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__box {
    background-color: white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 3rem 6rem;

    width: 80%;
    overflow-x: hidden;
    position: relative;
    z-index: 10;
  }

  &__content {
    min-height: 40vh;
  }

  &__loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 40vh;

    &__loader {
      width: 48px;
      height: 48px;
      border: 5px solid #0a7a2f;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &__stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.15rem;
    padding-right: 2.15rem;
    text-transform: uppercase;
    font-weight: bold;

    @media only screen and (max-width: 1300px) {
      padding-right: 0.5rem;
    }
  }
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.select {
  background: #0a7a2f;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.75rem 0.75rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
}

.stat {
  width: 93%;

  @media only screen and (max-width: 768px) {
    width: 85%;
  }
  @media only screen and (max-width: 450px) {
    width: 75%;
  }

  background-color: #e6e6e6;
  padding: 1rem 2.5rem;
  border-radius: 1rem;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
  }
}
