@import '../../styles/variables.scss';

.visa {
  background: $backgroud-color;

  overflow-x: hidden;
  margin: 0;

  min-height: 78vh;

  &__landing {
    position: relative;
    z-index: 5;
    margin: 12rem 10rem;
    width: 45rem;

    @media only screen and (max-width: 1300px) {
      margin: 12rem 5rem;
      width: 35rem;
    }
    @media only screen and (max-width: 768px) {
      margin: 8rem 2rem;
      width: 25rem;
    }
    @media only screen and (max-width: 540px) {
      margin: 6rem 1rem;
      width: 20rem;
    }
  }

  &__title {
    color: $secondary-text-color;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-shadow: 2px 2px 5px #000000;

    @media only screen and (max-width: 1300px) {
      font-size: 2rem;
    }
    @media only screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__box {
    background-color: white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 3rem 6rem;

    width: 80%;
    overflow-x: hidden;
    position: relative;
    z-index: 10;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .backgroundImg {
    position: absolute;
    left: 0;
    //top: -20rem;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 1;
    object-fit: cover;
  }
}

.stat {
  width: 93%;
  background-color: #e6e6e6;
  padding: 1rem 2.5rem;
  border-radius: 1rem;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
