@import '../styles/variables.scss';

.footer {
  background-color: $primary-color-dark;
  color: $secondary-text-color;
  padding: 20px;
  text-align: center;
  align-items: center;
  max-height: 4rem;
  z-index: 1000;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //width: 100%;
    //max-width: 10rem;

    &__text {
      font-size: 0.9rem;
      margin: 0;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 8rem;
  }
  &__linkbg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0rem;
  }
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__logo {
    width: 5rem;
    height: 5rem;
  }
}
