@import '../styles/variables.scss';

.home {
  background: $backgroud-color;
}

.landing {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5rem 20vw;

  @media only screen and (max-width: 1300px) {
    padding: 8rem 15vw;
  }
  @media only screen and (max-width: 768px) {
    padding: 8rem 10vw;
  }

  &__image {
    transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    -webkit-transform: scale(0.75, 0.75);
    z-index: 1;

    @media only screen and (max-width: 1300px) {
      z-index: 1;
      pointer-events: none;
      transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      opacity: 0.25;
      position: absolute;
      top: 8rem;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    @media only screen and (max-width: 768px) {
      transform: scale(0.75, 0.75);
      -ms-transform: scale(0.75, 0.75);
      -webkit-transform: scale(0.75, 0.75);
    }
  }
}

.landingContent {
  margin-top: 8rem;
  width: 50rem;
  z-index: 10;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: $secondary-text-color;
    &__ttymi {
      padding: 0;
      margin: 0;
      font-size: 8rem;
      font-weight: 600;
      letter-spacing: 1.25rem;
      margin-right: 1rem;
    }
    &__ry {
      padding: 0;
      margin: 0;
      font-weight: 500;
      letter-spacing: 0.5rem;
      font-size: 4rem;
    }

    @media only screen and (max-width: 768px) {
      &__ttymi {
        font-size: 3.5rem;
        letter-spacing: 0.5rem;
        margin-right: 0.5rem;
      }
      &__ry {
        font-weight: 600;
        font-size: 1.75rem;
        letter-spacing: 0.15rem;
      }
    }
  }

  &__subtitle {
    color: $secondary-text-color;
    font-size: 1.75rem;
    margin-left: 1rem;
    margin-bottom: 2.5rem;

    @media only screen and (max-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $primary-color;
    background-color: white;
    border-radius: 1rem;
    border: 2px solid transparent;
    padding: 0rem 1.5rem;
    margin-left: 1rem;
    box-shadow: $shadow;
    cursor: pointer;
    width: fit-content;
    transition: all 0.15s ease-in-out;

    &__text {
      font-size: 1.75rem;
      font-weight: 600;
      letter-spacing: 0.025rem;
      margin: 1.25rem 0.5rem;
    }
    &__triangle {
      width: 0;
      height: 0;
      border-top: 1rem solid transparent;
      border-bottom: 1rem solid transparent;
      border-left: 1.75rem solid $primary-color;
      margin-right: 0.75rem;
      margin-left: 0.5rem;
    }

    &:hover {
      background-color: $primary-color;
      color: white;
      border: 2px solid white;
      .landingContent__button__triangle {
        transition: all 0.15s ease-in-out;
        border-left: 1.75rem solid white;
      }
    }

    @media only screen and (max-width: 768px) {
      padding: 0rem 0.5rem;
      &__text {
        font-size: 1.25rem;
      }
      &__triangle {
        border-top: 0.75rem solid transparent;
        border-bottom: 0.75rem solid transparent;
        border-left: 1.25rem solid $primary-color;
        margin-right: 0.5rem;
        margin-left: 0.25rem;
      }
    }
  }
}

.infoBubble {
  background-color: white;
  color: $text-color;
  margin: 3rem 6rem;
  border-radius: 1rem;
  box-shadow: $shadow;

  @media only screen and (max-width: 1300px) {
    margin: 2rem 2rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 2.5rem 4rem 4rem 2.5rem;

    @media only screen and (max-width: 1300px) {
      padding: 1rem;
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__content {
    width: 75%;
    @media only screen and (max-width: 1300px) {
      width: 90%;
      margin-top: 1rem;
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    @media only screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
  &__text {
    font-size: 1.75rem;
    line-height: 1.5;
    @media only screen and (max-width: 768px) {
      font-size: 1rem;
      line-height: 1.25;
    }
  }
  &__image {
    margin-right: 3.5rem;
    margin-left: 0.5rem;

    @media only screen and (max-width: 1300px) {
      margin: -5rem 0 3rem 0;
    }
    @media only screen and (max-width: 768px) {
      margin: -7rem 0 -2rem 0;
      transform: scale(0.75, 0.75);
      -ms-transform: scale(0.75, 0.75);
      -webkit-transform: scale(0.75, 0.75);
    }
  }
}

.events {
  color: $secondary-text-color;
  &__container {
    padding: 3rem 6rem;

    @media only screen and (max-width: 1300px) {
      padding: 3rem 2rem;
    }
    @media only screen and (max-width: 768px) {
      padding: 1rem;
    }
  }
  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    @media only screen and (max-width: 540px) {
      font-size: 1.75rem;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 10rem;

    @media only screen and (max-width: 1300px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $primary-color;
    background-color: white;
    border-radius: 1rem;
    border: 2px solid transparent;
    padding: 0rem 1.5rem;
    margin-left: 2rem;
    box-shadow: $shadow;
    cursor: pointer;
    width: fit-content;
    transition: all 0.15s ease-in-out;

    &__text {
      font-size: 1.25rem;
      font-weight: 600;
      letter-spacing: 0.025rem;
      margin: 1rem 0.25rem;
    }
    &__triangle {
      width: 0;
      height: 0;
      border-top: 0.75rem solid transparent;
      border-bottom: 0.75rem solid transparent;
      border-left: 1.25rem solid $primary-color;
      margin-right: 0.5rem;
      margin-left: 0.25rem;
    }

    &:hover {
      background-color: $primary-color;
      color: white;
      border: 2px solid white;
      .events__button__triangle {
        transition: all 0.15s ease-in-out;
        border-left: 1.25rem solid white;
      }
    }

    @media only screen and (max-width: 768px) {
      margin-top: 1rem;
    }
    @media only screen and (max-width: 540px) {
      margin-left: 0;
      margin-top: 0.5rem;
      border-radius: 0.5rem;
      padding: 0.25rem 0.5rem;
      &__text {
        font-size: 1rem;
        margin: 0.5rem 0.25rem;
      }
      &__triangle {
        border-top: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;
        border-left: 0.75rem solid $primary-color;
        margin-right: 0.5rem;
        margin-left: 0.25rem;
      }
    }
  }
}

.event {
  margin: 2rem;
  background-color: white;
  color: $text-color;
  border-radius: 1rem;
  width: 32rem;
  height: 46rem;
  overflow: hidden;
  box-shadow: $shadow;
  transition: all 0.15s ease-in-out;

  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 1300px) {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 20rem;
  }
  @media only screen and (max-width: 768px) {
    height: 12rem;
    margin: 0.75rem;
    border-radius: 0.5rem;
  }
  @media only screen and (max-width: 540px) {
    height: 8rem;
  }

  &:hover {
    transform: scale(1.025, 1.025);
    -ms-transform: scale(1.025, 1.025);
    -webkit-transform: scale(1.025, 1.025);
  }

  &__image {
    height: 30rem;
    img {
      aspect-ratio: 1/1;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @media only screen and (max-width: 1300px) {
      height: 20rem;
      img {
        aspect-ratio: 1/1;
        height: 100%;
        width: 20rem;
        object-fit: cover;
      }
    }
    @media only screen and (max-width: 768px) {
      height: 12rem;
      img {
        aspect-ratio: 1/1;
        height: 100%;
        width: 12rem;
        object-fit: cover;
      }
    }
    @media only screen and (max-width: 540px) {
      height: 8rem;
      img {
        aspect-ratio: 1/1;
        height: 100%;
        width: 8rem;
        object-fit: cover;
      }
    }
  }

  &__content {
    position: relative;
    top: -8rem;
    padding: 1.75rem;
    background-color: white;
    border-radius: 1.5rem 1.5rem 0 0;
    //height: 100%;

    @media only screen and (max-width: 1600px) {
      top: -5rem;
    }
    @media only screen and (max-width: 1400px) {
      top: -2rem;
    }
    @media only screen and (max-width: 1300px) {
      top: 0;
    }
    @media only screen and (max-width: 540px) {
      padding: 0.75rem;
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: 600;
    @media only screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: 540px) {
      font-size: 1rem;
    }
  }
  &__text {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.45;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8; /* number of lines to show */
    -webkit-box-orient: vertical;
    @media only screen and (max-width: 1300px) {
      -webkit-line-clamp: 6; /* number of lines to show */
    }
    @media only screen and (max-width: 768px) {
      -webkit-line-clamp: 4; /* number of lines to show */
      font-size: 1rem;
    }
    @media only screen and (max-width: 540px) {
      -webkit-line-clamp: 3; /* number of lines to show */
      font-size: 0.75rem;
    }
  }
  &__date {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &__text {
      font-size: 1.45rem;
      font-weight: 600;
      margin: 0 1.5rem 0 0.5rem;

      @media only screen and (max-width: 867px) {
        font-size: 1rem;
        margin: 0 0.5rem 0 0.25rem;
      }
      @media only screen and (max-width: 540px) {
        font-size: 0.75rem;
        margin: 0 0.25rem 0 0rem;
      }
    }

    &__icon {
      @media only screen and (max-width: 867px) {
        transform: scale(0.75, 0.75);
        -ms-transform: scale(0.75, 0.75);
        -webkit-transform: scale(0.75, 0.75);
      }
    }

    @media only screen and (max-width: 768px) {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }
}
