@import '../styles/variables.scss';

.home {
  background: $backgroud-color;
}

.landing {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7.5rem 20vw;
}

.landingInfo {
  margin-top: 8rem;
  width: 50rem;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: $secondary-text-color;

    &__ttymi {
      padding: 0;
      margin: 0;
      font-size: 8rem;
      font-weight: 600;
      letter-spacing: 1.5rem;
      margin-right: 1rem;
    }
    &__ry {
      padding: 0;
      margin: 0;
      font-size: 4rem;
    }
  }

  &__subtitle {
    color: $secondary-text-color;
    font-size: 1.75rem;
    margin-left: 1rem;
  }

  &__button {
    margin-left: 1rem;
  }
}

.image {
  transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75);
  -webkit-transform: scale(0.75, 0.75);
}
