@import '../styles/variables.scss';

.navbar {
  background-color: $primary-color;
  padding: 0.5rem;
  height: $navbar-height;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  &__logo {
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
  }

  &__icon {
    margin-right: 1.25rem;

    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
  }
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.5rem;

  &__link {
    color: $secondary-text-color;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $secondary-text-color;
      color: $text-color;
    }
  }

  &__mobile {
    flex-direction: column;
    position: fixed;
    top: $navbar-height;
    right: 0;
    width: 70%;
    height: 100vh;
    background-color: $primary-color;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;

    &__active {
      transform: translateX(0);
    }
  }
}
