@import '../../styles/variables.scss';

.events {
  background: $backgroud-color;
  color: white;

  &__container {
    margin: 0;
    padding: 2rem 6rem;
    min-height: 78vh;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 0 4rem 0;
  }
}

.event {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: $text-color;
  height: 35rem;
  margin-bottom: 4rem;
  box-shadow: $shadow;
  transition: all 0.15s ease-in-out;

  @media only screen and (max-width: 1300px) {
    height: 25rem;
  }
  @media only screen and (max-width: 1024px) {
    height: 20rem;
  }
  @media only screen and (max-width: 867px) {
    height: 15rem;
  }

  &:hover {
    transform: scale(1.0075, 1.0075);
    -ms-transform: scale(1.0075, 1.0075);
    -webkit-transform: scale(1.0075, 1.0075);
  }

  &__image {
    img {
      aspect-ratio: 1/1;
      height: 100%;
      ///max-width: 35rem;
      object-fit: cover;
    }
  }
  &__content {
    padding: 2rem;
    overflow: hidden;
  }
  &__title {
    font-size: 2rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
    @media only screen and (max-width: 867px) {
      font-size: 1.5rem;
    }
  }
  &__text {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.45;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 14; /* number of lines to show */
    -webkit-box-orient: vertical;

    @media only screen and (max-width: 1300px) {
      -webkit-line-clamp: 8; /* number of lines to show */
    }
    @media only screen and (max-width: 1024px) {
      -webkit-line-clamp: 4; /* number of lines to show */
    }
    @media only screen and (max-width: 867px) {
      font-size: 1rem;
      margin-top: 0;
    }
  }
  &__date {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media only screen and (max-width: 867px) {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

    &__text {
      font-size: 1.45rem;
      font-weight: 600;
      margin: 0 1.5rem 0 0.5rem;

      @media only screen and (max-width: 867px) {
        font-size: 1rem;
        margin: 0 0.25rem 0 0.25rem;
      }
    }
    &__icon {
      @media only screen and (max-width: 867px) {
        transform: scale(0.75, 0.75);
        -ms-transform: scale(0.75, 0.75);
        -webkit-transform: scale(0.75, 0.75);
      }
    }
  }
}
