@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;

  *::-webkit-scrollbar {
    width: 0.75rem;
  }
  *::-webkit-scrollbar-track {
    background: #043e18;
    border-left: 2px solid #043e18;
  }
  *::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 1rem;
    transition: 1s;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
